<%= link_to "新規投稿ページへ", new_post_path %>
<h3>投稿を検索</h3>
<%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索する'  %>
<% end %>
<div class="posts-container">
  <h3>人気の投稿</h3>
  <% @rank_posts.each do |t| %>
    <div class="post">
        <%= image_tag t.image_url, size: "250x200" if t.image? %>
        <%= t.body %>
        <%= t.user.email %>
        <%= t.updated_at %>
        <% if user_signed_in? %>
            <% if current_user.already_liked?(t) %>
                <%= button_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
                    <i class="fas fa-heart"></i><%= t.likes.count %>
                <% end %>
            <% else %>
                <%= button_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
                    <i class="far fa-heart"></i><%= t.likes.count %>
                <% end %>
            <% end %>
        <% end %>
        <%= link_to "詳細へ", post_path(t.id)%>
    </div>
  <% end %>
  <h3>自分の投稿</h3>
  <% @posts.each do |t| %>
    <div class="post">
        <%= image_tag t.image_url, size: "250x200" if t.image? %>
        <%= t.body %>
        <%= link_to t.user.name, user_path(t.user.id) %>
        <%= t.updated_at %>
        <% if user_signed_in? %>
            <% if current_user.already_liked?(t) %>
                <%= button_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
                    <i class="fas fa-heart"></i><%= t.likes.count %>
                <% end %>
            <% else %>
                <%= button_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
                    <i class="far fa-heart"></i><%= t.likes.count %>
                <% end %>
            <% end %>
          <% if user_signed_in? && current_user.id == t.user_id %>
            <%= link_to "編集する", edit_post_path(t.id) %>
            <%= button_to "削除する", post_path(t.id), method: :delete %>
          <% end %>
        <% end %>
        <%= link_to "詳細へ", post_path(t.id)%>
    </div>
  <% end %>
</div>