<div class="post">
    <p>
        <strong>投稿者:</strong>
        <%= @post.user.email %>
    </p>
    <p>
        <strong>投稿内容:</strong>
        <%= @post.body %>
    </p>
    <p>
        <strong>投稿日時:</strong>
        <%= @post.created_at %>
    </p>
    <p>
        <strong>更新日時:</strong>
        <%= @post.updated_at %>
    </p>
    <% if user_signed_in? %>
        <% if current_user.already_liked?(@post)%>
            <%= button_to post_like_path(@post), method: :delete do %>
                <i class="fas fa-heart"></i><%= @post.likes.count %>
            <% end %>
        <% else %>
            <%= button_to post_likes_path(@post), method: :post do %>
                <i class="far fa-heart"></i><%= @post.likes.count %>
            <% end %>
        <% end %>
        <p>
            <strong>いいね数:</strong>
            <%= @post.likes.count %>
        </p>
        <p>
            <%= link_to "編集する", edit_post_path(@post.id) %>
            <%= button_to "削除する", post_path(@post.id), method: :delete %>
        </p>
    <% end %>
</div>

<%= link_to "一覧に戻る", posts_path %>